on:
  push:
  workflow_dispatch:

name: Docker Hub

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Docker Build and Push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: closehandle/mosdns:latest
          context: .

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true
